.teams-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
  max-height: 600px;
  overflow-y: auto;
}

.trophy-icon {
  color: gold;
  font-size: 20px;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-weight: bold;
  font-size: 10px;
}

.header-item {
  flex: 1;
  text-align: center;
  padding: 5px;
}

.team-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ccc;
  font-size: 10px;
}

.team-position, .team-name, .team-games, .team-victories, .team-draws, .team-defeats, .team-points, .team-recent-matches {
  flex: 1;
  text-align: center;
}

.team-image {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.team-recent-matches {
  display: flex;
  justify-content: center;
}

.team-recent-matches span {
  margin: 0 1px;
  padding: 3px;
  border-radius: 50%;
  font-size: 8px;
}

.win {
  background-color: green;
  color: white;
}

.draw {
  background-color: yellow;
  color: black;
}

.loss {
  background-color: red;
  color: white;
}
