/* app.component.css ou outro arquivo de estilo principal */
.teams-table {
  width: 100%;
  margin: 20px auto;
  border-collapse: collapse;
}

.trophy-icon{
  color: gold;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-weight: bold;
}

.header-item {
  flex: 1;
  text-align: center;
  padding: 10px;
}

.team-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.team-position, .team-name, .team-games, .team-victories, .team-draws, .team-defeats, .team-points, .team-recent-matches {
  flex: 1;
  text-align: center;
}

.team-image {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.team-recent-matches {
  display: flex;
  justify-content: center;
}

.team-recent-matches span {
  margin: 0 2px;
  padding: 5px;
  border-radius: 50%;
}

.win {
  background-color: green;
  color: white;
}

.draw {
  background-color: yellow;
  color: black;
}

.loss {
  background-color: red;
  color: white;
}
