.match-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
  }
  
  .team {
  display: flex;
  align-items: center;
  margin: 10px;
  }
  
  .team-image {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  }
  
  .team-goals {
  font-size: 1.2em;
  }
  
  .details {
  text-align: center;
  }