<app-navbar></app-navbar>
<div class="home-container">
  <div class="teams-page-title">
    <h1>Escolha seu clube favorito</h1>
  </div>
  <div class="search-container">
    <input
      type="text"
      (input)="onSearchChange($event)"
      [(ngModel)]="searchTerm"
      placeholder="Pesquisar..."
    />
  </div>
  <div class="pagination">
    <ul>
      <li
        *ngFor="
          let team of teams
            | paginate
              : {
                  itemsPerPage: 10,
                  currentPage: currentPage,
                  totalItems: totalPages
                }
        "
      >
        <div
          (click)="onTeamClick(team)"
          class="team-link"
        >
        <app-showTeam
        [teamImageUrl]="team.urlImage"
        [teamName]="team.name"
        [isSelected]="selectedTeam === team.id"
      ></app-showTeam>
        </div>
      </li>
    </ul>
    <pagination-controls
      (pageChange)="onPageChange($event)"
      class="scrowTeams"
      nextLabel="Próximo"
      previousLabel="Anterior"
    ></pagination-controls>
  </div>
</div>
<app-footer></app-footer>
