/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Outfit', sans-serif;
  margin: 0px;
  overflow: hidden;
}

.scrowTeams .pagination-next {
  color: greenyellow;
}

.scrowTeams .pagination-previous {
  color: greenyellow;
}