.home-container {
  background-color: #212227;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  margin: 0;
}

.pagination {
  width: 100%;
  max-width: 1200px;
}

.pagination ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  list-style: none;
  margin: 0;
}

.pagination ul li {
  width: 48%;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .pagination ul li {
    width: 18%;
  }
}
